

<html>
<head>
<STYLE>
a:link    {color:white;
          text-decoration:  none;}
a:visited {color:white;
          }
a:hover   {color:white;}
a:active  {color:white;}

.padding
{
margin-left:100px;
}

#left { float: left;} 
#right { float: right;
margin-top: 200px;
margin-right:200px} 

#time_div{color: :black;}

</STYLE>
</head>

    <script type="text/javascript">
      $(document).ready(function() {
        if(!$('#myCanvas').tagcanvas({
          textColour: '#ff0000',
          outlineColour: '#ff00ff',
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.05,
          weight: true
        },'tags')) {
          // something went wrong, hide the canvas container
          $('#myCanvasContainer').hide();
        }
      });
    </script>

<h1>Keywords</h1>


<%@num_row_keywords = (@keywords.size / 8.to_f).ceil%>
  <%for i in 0..@num_row_keywords%>
      <%for j in 0..7%>
        <% break if 8*i+j>@keywords.size-1%>
          <span class="label label-success" id="<%=@keywords[8*i+j]%>"><div id="keywords"> <%= link_to "#{@keywords[8*i+j]}",:controller => :tweets, :action => :index,:keyword=>@keywords[8*i+j]%></div></span>
      <%end%>
  <%end%>
<div id="right">
<p>Add new words you want to track</p>
<form class="navbar-search pull-right">
  <input type="text" class="search-query" placeholder="Search">
</form>

</div>

    <div class="padding" id="myCanvasContainer">
      <canvas width="550" height="550" id="myCanvas" style="">
      </canvas>
    </div>
    <div id="left">
      <div id="tags" style="display: none;">
        <ul>
         <%for j in 0..@array.size-1%>
          <font size="<%=@array[j][1]*5%>"><%= link_to "#{@array[j][0]}",:controller => :tweets, :action => :index,:subkeyword=>@array[j][0],:keyword=>@selected_keyword%>
        <%end%>

        </ul>
      </div>
     </div> 


</html>
   
  



  
